<div class="page" data-name="seguridad">
  <!-- Fixed/Dynamic Navbar -->
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">SEGURIDAD PUBLICA</div>
    </div>
  </div>


  <div class="page-content">
      <div class="ola">
            <img class="img3" src="img/seguridad2.jpg">
        </div>
 

        <div class="row4">
           <div class="row3">
                 <!--
                <input type="button" value="&#xf09a; Facebook " class="app-icon button btn facebook" />  -->

                 <button class="col button button button-raised button-fill facebook"> Reporte Accidente </button>

           </div>
                      <div class="row3">

                <button class="col button button button-raised button-fill facebook">Reporte de Auto</button>
           </div>     
           <div class="row3">
                
        <button class="col button button button-raised button-fill facebook">Reporte de Peligro</button>
           </div>
           <div class="row3">
                
                <button class="col button button button-raised button-fill facebook">Robo</button>
           </div>

        </div>


   

    </div>
  </div>
</div>